.add-item {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: -100vw;
  padding: 5%;
  padding-left: 10vw;
  z-index: 10;
  transition: all 0.3s linear;
}

.add-item.show {
  background-color: white;
  left: 0%;
}

/* Form */

.product-form {
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.product-form input,
.product-form select {
  margin-top: 5px;
  padding: 5px;
  background-color: darkblue;
  color: white;
  border: white solid 2px;
  border-radius: 10px;
}

.product-form input::placeholder {
  color: white;
}

.product-form button {
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  height: 30px;
  /* padding: 10px; */
  border-radius: 10px;
}
