.cart-container {
  position: fixed;
  top: 0%;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  padding-left: 10vw;
  z-index: 10;
  transition: all 0.3s linear;
}

.cart-container.show {
  left: 0%;
  background-color: chartreuse;
}

.cart-edit {
  position: fixed;
  top: 0%;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  padding-left: 10vw;
  z-index: 10;
  transition: all 0.3s linear;
}

.cart-edit.show {
  left: 0%;
  background-color: springgreen;
}
