.edit-item {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  padding-left: 10vw;
  z-index: 10;
  transition: all 0.3s linear;
}

.edit-item.show {
  left: 0%;
  background-color: white;
}

/* Form */

.edit-form {
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.edit-form input,
.edit-form select {
  margin-top: 5px;
  padding: 5px;
  background-color: darkblue;
  color: white;
  border: white solid 2px;
  border-radius: 10px;
}

.edit-form input::placeholder,
.edit-form select::placeholder {
  color: white;
}

.edit-form .edit-btn {
  background-color: darkblue;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 150px;
  height: 30px;
  /* padding: 10px; */
  border-radius: 10px;
}
