nav {
  width: 60px;
  height: 100vh;
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0%;
  z-index: 1;
  transition: all 0.3s linear;
}

.nav-link {
  padding: 10%;
  border: 5px solid darkblue;
  border-radius: 100%;
  background-color: darkblue;
  font-weight: 500;
  color: white;
  height: 40px;
  width: 40px;
  position: relative;
  left: 0%;
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav-mobile {
  /* visibility: hidden; */
  display: none;
  color: red;
}

.nav-link:hover {
  background-color: blue;
}

.nav-link:hover .popup {
  background-color: black;
  visibility: visible;
}

.nav-link .popup {
  position: absolute;
  visibility: hidden;
  padding: 10%;
  margin-left: 2.5vw;
  top: 0;
  width: 120px;
  color: white;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.nav-toggle {
  position: fixed;
  z-index: 2;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 5px;
  font-size: 30px;
  border: none;
  background: none;
  color: blue;
}

.nav-toggle {
  visibility: hidden;
}

@media (max-width: 1000px) {
  nav {
    left: -100vw;
    width: 100vw;
  }
  nav.show {
    left: 0%;
  }
  .nav-link {
    visibility: hidden;
  }
  .nav-link .popup {
    visibility: hidden;
  }
  .nav-moblie {
    display: block;
    visibility: visible;
  }
}
