.profile {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  padding-left: 10vw;
  z-index: 10;
  transition: all 0.3s linear;
}

.profile.show {
  left: 0%;
  background-color: white;
  /* background-color: darkblue; */
}

.profile-item {
  border-top: black 5px double;
  border-bottom: black 5px double;
}

.profile-info {
  background-color: blue;
  padding: 10px;
  border-radius: 10px;
}

.span-info {
  color: white;
}

.profile .info {
  color: black;
}
