.register {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  padding-left: 10vw;
  z-index: 10;
  transition: all 0.3s linear;
}

.register.show {
  left: 0%;
}
